[{config, [ #{ files => ["rebar.config"],
               ruleset => rebar_config },
            #{ files => ["src/*.erl", "test/*.erl"],
               ruleset => erl_files,
               rules => [{elvis_text_style, max_line_length, #{ limit => 80 }},
                         {elvis_text_style, no_tabs},
                         {elvis_style, no_deep_nesting, #{ level => 3 }}]}]},
 {output_format, colors}
].
