[{config, [ #{ files => ["Makefile"],
               ruleset => makefiles },
            #{ files => ["rebar.config"],
               ruleset => rebar_config },
            #{ files => ["elvis.config"],
               ruleset => elvis_config },
            #{ files => ["src/*.erl", "test/*.erl"],
               ruleset => erl_files,
               rules => [{elvis_text_style, line_length, #{ limit => 80,
                                                            skip_comments => false }},
                         {elvis_text_style, no_tabs},
                         {elvis_style, nesting_level, #{ level => 3 }}]}]},
 {output_format, colors}
].
